<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hyunwoong.pestsaver">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:appComponentFactory">

        <!-- initial activity -->
        <activity android:name=".core.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="layout"
                android:value="@layout/splash" />
        </activity>

        <!-- activities -->
        <activity android:name=".core.activity.SignInActivity">
            <meta-data
                android:name="layout"
                android:value="@layout/sign_in" />
        </activity>

        <activity android:name=".core.activity.SignUpActivity">
            <meta-data
                android:name="layout"
                android:value="@layout/sign_up" />
        </activity>

        <activity android:name=".core.activity.MainActivity">
            <meta-data
                android:name="layout"
                android:value="@layout/main" />
        </activity>

        <activity android:name=".core.activity.ResultActivity">
            <meta-data
                android:name="layout"
                android:value="@layout/result" />
        </activity>
    </application>
</manifest>